.tool {
  width: 345px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.history, .calculator {
  display: inline-block;
  text-align:center;
}

.history {
  height:100px;
  color: #95c5c8;
  overflow: auto;
}

.history-table {
  width: 345px;
}

.history-item {
  width: 328px;
}

.calculator {
  padding-left:2px;
}

table, th, td {
  border: 1px solid black;
}

.key {
  width:50px;
  height:50px;
  font-size:15px;
}

.num-key, .sym-key {
  font-size:25px;
  background-color: #F0C0AA;
  color: #000000;
}

.func-key, .tool {
  background-color: #386E72;
  color: #ffffff;
  font-size:18px;
}

.key-equal {
  width:105px;
}

.workspace {
  width:325px;
  height:75px;
  padding-right:1px;
  font-size:25px;
}

.notification {
  width:345px;
  height:75px;
  position: absolute;
  left: 50%;
  bottom: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-block: 1px;
  color: #000000;
}